html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

a {
	color: #0059b2;
	text-decoration: none;
}

img {max-width: 600px; height: auto;}

.fixed-container {
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.header {
	background: #b8b8b6;
	height: 60px;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #1738f2;
	font-size: 20px;
	overflow: hidden;
}

ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #1738f2;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #5f06ed;
}

.navigation { /* Левая колонка */
 float: left; /* Обтекание справа */
 width: 170px; /* Ширина колонки */
}

.navigation ul {
 list-style: none;
}

.content { /* Правая колонка */
 margin-left: 190px; /* Отступ слева */
}

.selected_recipe{
	font-weight: 700;
	padding-bottom: 20px;
}

.selected {
 color: #cd4e0e;
 font-weight: 700;

}

.selected_cat{
	color: #0227cc;
}

.unselected {
  color: #444;
  font-weight: 300;
}

.li_main_page {
 list-style: none;
}


.panelitems {
	text-align: center;
}

p.link-read-detail {
	text-align: right;
}

p.link-read-detail a {
	padding: 10px;
	min-width: 100px;
	background: #333671;
	color: #fff;
	text-decoration: none;
}

.clear {clear: both;}

.short_description {
    font-style: italic;
}

.cooking_description {
    max-width: 600px;
    padding-left: 30px;
}

.step-recipe{
    color: #e16d4ac8;
    font-weight: 700;
}

.composition{
	list-style-type: none;
	color: #f46506;
	font-weight: 500;
	padding-bottom: 10px;
}

.form-label {
	/* width: 400px; */
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-input {
    width: 382px;
    font-size: 16px;
}