{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>

  {% for f in recipe_form %}
  <p><label class="form-label" for="{{ f.id_for_label }}">
      {{ f.label }}
    </label>{{ f }}</p>
  <div class="form-error">{{ f.errors }}</div>
  {% endfor %}

  {{ ingredient_formset.management_data }}
  {{ composition_formset.management_data }}

  <div class="add-ingredient">
    <div>
    {% for ing in ingredient_formset %}
    <div class="add-ingredients">
      {{ ing.as_p}}
    </div>
    {% endfor %}
    </div>

    <div>
    {% for comp in composition_formset %}
    <div class="add-ingredients">
      {{ comp.as_p}}
    </div>
    {% endfor %}
    </div>
  </div>

  <div class="form-error">{{ recipe_form.category.errors }}</div>
  <p><button type="submit">Отправить</button></p>
</form>

{% endblock %}