{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ recipe_form.as_p }}
  <div id="formset-container">
    <div class="ingredient-form">
        <input type="text" name="ingredient_name" placeholder="Ingredient Name" required>
        <input type="text" name="quantity" placeholder="Quantity" required>
        <input type="text" name="unit_measure" placeholder="Unit Measure" required>
    </div>
  </div>
  <button type="button" onclick="addIngredient()">Добавить рецепт</button>
  <p><button type="submit">Отправить</button></p>
</form>

<script>
        function addIngredient() {
            var formsetContainer = document.getElementById('formset-container');
            var newForm = document.createElement('div');
            newForm.innerHTML = `
                <input type="text" name="ingredient_name" placeholder="Ingredient Name" required>
                <input type="text" name="quantity" placeholder="Quantity" required>
                <input type="text" name="unit_measure" placeholder="Unit Measure" required>
            `;
            formsetContainer.appendChild(newForm);
        }
</script>

{% endblock %}